@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@0,400;1,400;1,500&display=swap');

.Wrapper{
    background: #02083E;
    color: white;
    font-family: 'Poppins', sans-serif;
/* font-family: 'Roboto', sans-serif; */
}
header{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-top: 20px;
}
header nav{
    font-weight: bold;
    font-size: 40px;
}
header ul {
    display: flex;
    margin-right: 100px;
}
header ul li{
    list-style: none;
    margin-right: 50px;
}
header ul li a{
    text-decoration: none;
    color: white;
}
.firstWrapper{
    background-color: #02083E;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:  white;
}
.textContent{
    width: 35vw;
    height: 60vh;
}
.textContent h2{
    font-size: 40px;
}
.textContent p{
    color: rgba(255, 255, 255, 0.623);
}
.textContent a {
    border: none;
    font-weight: bold;
    padding: 15px 40px;
    background-color: white;
    color : #02083E;
    text-decoration: none;
    border-radius: 5px;
}
.textContent a:hover{
    transform: scale(1.2);
    transition: .5s;
}
.imageSection{
    height: 90vh;
    overflow: hidden;
    margin-left: -20px;
    width: 50vw;
    object-fit: fill;
}
.imageSection img{
    width: 100%;
    height: 100%;
}
.secondLayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.secondLayer p{
    text-align: center;
}
section{
    height: 100vh;
    text-align: center;
    color: #02083E;
    padding-top: 50px;
    background-color: #02083e11;
}
section h3{
    font-size: 40px;
}