.homeNav{
    background-color: #02083E;
    height : 100px;
    width: 100vw;
    z-index : 1;
    position : fixed;
    color : white;
    display : flex;
    justify-content : space-between;
}
.menuBtn{
    display: none;
}

.homeNav nav{
    font-size: 35px;
    margin-top : 30px;
    margin-left : 100px;
}
.homeNav ul{
    margin-top : 40px;
    display : flex;
}
.homeNav ul li{
    list-style : none;
    margin-right : 100px;
}
.homeNav ul li a{
    color : white;
    text-decoration : none;
}
 nav{
    z-index: 2;
}

@media (max-width : 800px) {
    .menuBtn{
        display: block;
    }
   
    .homeNav {
        height: 100vh;
        width: 100vw;
        background-color: #02083E;
    }
    .homeNav ul{
        display: block;
        position: relative;
        top: 100px;
        right: 40vw;
        width: 200px;
    }
    .homeNav ul li {
        margin-top: 20px;
        font-size: 25px;
        width: 250px;
    }
    .homeNav ul li:hover{
        color: yellow;
        cursor : pointer;
        transform: scale(1.1);
        transition: .5s;
    }
    .menuBtn{
        position: fixed;
        top: 50px;
        right: 20px;
        height: 30px;
        z-index: 2;
    }
}
