.partners{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.partners .partnerList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.partners .partnerList .partnerImage{
    width: 200px;
    height: 200px;
    margin-right: 100px;
}
.partners .partnerList h3{
    color: #02083E;
}